* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    display: flex;
    align-items: center;


}

.header_petz {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.posicao {
    width: 1400px;
    margin: 0 auto
}

.navegacao a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
}

.navegacao .cor_fonte {
    color: #ff8800;
}

.posicionamento_section {
    display: flex;
    justify-content: space-evenly;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.texto h1 {
    margin-bottom: 85px;
    font-size: 55px;
}

.texto p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}

.texto a {
    text-decoration: none;
    border: 3px solid #ff8800;
    padding: 10px 40px 10px 40px;
    border-radius: 8px;
    background-color: #ff8800;
    color: white;
    font-size: 20px;

}

.texto {
    margin-left: 10px;
}


.posicionamento_section2 {
    display: flex;
    justify-content: center;
    background-color: #FFC988;
    width: 100%;
    height: 600px;
    margin-top: 80px;
    flex-direction: column;

}

.texto2 {
    text-align: center;
    font-size: 35px;

}

.posicionamentoelementos {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;




}

.elemento1,
.elemento2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;



}

.elemento1 img {
    margin-left: 50px;
    margin-top: 30px;
    width: 300px;
}

.elemento1 p,
.elemento2 p {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;

}

.elemento1 a,
.elemento2 a {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.elemento2 img {
    margin-left: 60px;
    margin-top: 45px;
    width: 300px;
}

.posicionamento_section3 {
    display: flex;
   
}

.texto3 {
    margin-top: 100px;
    margin-left: 100px;
}

.texto3 h2 {
    width: 550px;
    font-size: 50px;
}

.texto3 p {
    width: 575px;
    margin-top: 30px;
    font-size: 25px;

}

.posicionamento_elementos2{
    display: flex;
    margin-top: 130px;
    margin-left: 100px;
    
}

.elementosa .a img{
   
}
